*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: #1d1d25;
  font-family: Lato,sans-serif;
  margin-top:40px ;

}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto,sans-serif;
  text-align: center;
  margin: 20px 0;
}

.Aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 310px;
  height: 50px;
}

/* Lista de tareas */

.tareas-lista-principal{
  background-color: #d0d0d5;
  width: 700px;
  min-height: 500px;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;

}